:root {
    --primary: #ffc222;
    --primary_hover: #eeac00;
    --secondary: #00A149;
    --heading: #1e1d23;
    --light: #999999;
    --dark: #282828;
    --border: #e5e5e5;
    --background: #ffffff;
    --font-size-normal: 15px;
    --font-size-large: 18px;
    --breakpoint-tablet: 768px;
    --breakpoint-mobile: 480px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    color: #000 !important;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
    color: #fff;
}

.hhi:hover {
    color: #fff;
}

.caoit {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

.caoith {
    color: var(--primary);
    margin-top: 0;
    font-size: 18px;
    /* Adjust as needed */
}

.call-order-container {
    display: flex;
    align-items: center;
}

.call-order-icon {
    margin-right: 10px;
    flex-shrink: 0;
    /* Prevent the icon from shrinking */
}

.call-order-text {
    display: flex;
    flex-direction: column;
}

/* Hero Section Styles */
.hero-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #333;
    filter: brightness(1.15);

}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-image: radial-gradient(at center center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    z-index: 1;
    pointer-events: none;
}

.hero-section>* {
    position: relative;
    z-index: 2;
}


.hero-background {
    position: absolute;
    top: 0;
    left: 474px !important;
    width: 58%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* filter: brightness(1.5); */
}

@keyframes pizzaEntrance {
    0% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
    }

    60% {
        transform: translateY(10%) scale(1.2);
        opacity: 1;
    }

    80% {
        transform: translateY(-5%) scale(0.9);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes classicStretch {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.3, 0.7);
    }

    40% {
        transform: scale(0.7, 1.3);
    }

    60% {
        transform: scale(1.2, 0.8);
    }

    80% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pizza-image {
    animation:
        pizzaEntrance 0.8s ease-out,
        classicStretch 1.2s ease-in-out 0.7s;
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
}

.pizza-image:hover {
    transform: rotate(5deg) scale(1.05);
}

.pizza-image-container {
    position: relative;
    z-index: 3;
}

.pizza-image:hover {
    transform: scale(1.05);
}

.order-now-btn {
    background-color: var(--primary);
    color: #000;
    padding: 12px 24px;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.order-now-btn:hover {
    background-color: var(--primary_hover);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.order-now-btn:active {
    transform: translateY(0);
    background-color: var(--primary_hover);
}

/* Responsive styles for hero-background */
@media (max-width: 1600px) {
    .hero-background {
        left: 400px !important;
        width: 62%;
    }
}

@media (max-width: 1400px) {
    .hero-background {
        left: 350px !important;
        width: 65%;
    }
}

@media (max-width: 1200px) {
    .hero-background {
        left: 300px !important;
        width: 70%;
    }
}

@media (max-width: 992px) {
    .hero-background {
        left: 0 !important;
        width: 100%;
    }
}

@media (max-width: 1920px) {
    .hero-background {
        left: 24rem !important;
        width: 70%;
    }
}

.hero-section .container {
    position: relative;
    z-index: 2;
}

.hero-section h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 76px;
    line-height: 78px;
    text-shadow: 1px 0 6px #000;
}

.hero-section h1 span {
    color: var(--primary);
}

.hero-section h2 {
    color: var(--secondary);
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
}

.hero-section p {
    color: #fff;
    font-size: 16px;
}


.h_sprinkle {
    z-index: 1;
    width: 143%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .h_sprinkle {
        width: 120%;
    }
}

@media (max-width: 992px) {
    .h_sprinkle {
        width: 100%;
        height: auto;
    }
}


/* Responsive styles */
@media (max-width: 991px) {
    .hero-section {
        text-align: center;
    }

    .hero-section .col-lg-6:first-child {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .hero-section {
        padding: 40px 0;
    }

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section h2 {
        font-size: 1.5rem;
    }
}

.h_flour {
    position: relative;
    z-index: 2;
}

.h1_left_leaf,
.h2_right_leaf,
.h2_mushroom,
.h2_mint,
.h1_tomato,
.h1_mint {
    position: absolute;
}

.h1_left_leaf {
    left: -17rem;
}

.h2_right_leaf {
    right: -20rem;
    top: 24vh;
}

.h2_mushroom {
    right: 0;
    bottom: 7rem;
}

.h2_mint,
.h1_mint {
    bottom: 7rem;
    left: 47%;
    transform: translateX(-50%);
    z-index: 2;
}

.h1_tomato {
    top: -6rem;
    left: 32%;
    transform: translateX(-50%);
    z-index: 3;
    width: 24rem;
}

@media (max-width: 1400px) {
    .h1_tomato {
        width: 18rem !important;
        left: 42%;
    }
}

@media (max-width: 992px) {
    .h1_left_leaf {
        left: -3rem;
        top: 7vh;
        width: 228px;
        filter: brightness(0.95);
    }

    .h2_mushroom,
    .h2_mint,
    .h1_tomato,
    .h1_mint {
        max-width: 80%;
        height: auto;
    }

    .h1_tomato {
        top: -7.2rem;
        right: -7.5rem;
        left: auto
    }

    .h2_mushroom,
    .h2_mint {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .h2_mushroom,
    .h2_mint,
    .h1_tomato,
    .h1_mint {
        max-width: 60%;
    }

    .h2_mushroom {
        bottom: 3rem;
    }

    .h2_mushroom,
    .h2_mint {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .h2_mushroom,
    .h2_mint {
        display: none !important;
    }
}

@media (max-width: 576px) {

    .h2_mushroom,
    .h2_mint,
    .h1_tomato,
    .h1_mint {
        max-width: 40%;
    }

    .h2_mushroom {
        bottom: 2rem;
    }

    .h2_mushroom,
    .h2_mint {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .h1_tomato {
        top: -3rem;
        right: -5rem;
        left: auto;
        z-index: 1;
    }

    .h2_mushroom,
    .h2_mint {
        display: none !important;
    }
}

@media (max-width: 400px) {
    .h1_tomato {
        top: -1rem;
        right: -3rem;
        left: auto;
        z-index: 1;
    }

    .h2_mushroom,
    .h2_mint {
        display: none !important;
    }
}

/* category list */
.cat-title {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.product-cat {
    text-align: center;
    position: relative;
    overflow: visible;
}

.product-cat img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.img-wrapper {
    position: relative;
}

.img-wrapper>img {
    position: relative;
    right: 7px;
}

.product-cat .img-wrapper,
.cat-title {
    transition: transform 0.3s ease;
}

.product-cat:hover .img-wrapper,
.product-cat:hover .cat-title {
    transform: translateY(-5px);
}

.product-cat {
    transition: color 0.3s ease;
}

.product-cat:hover {
    color: var(--primary);
}

.product-cat .hover-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.product-cat:hover .hover-circle {
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 1;
}

/* offer section */
.offers-section {
    background-color: #f7f2e2;
    margin-bottom: 100px;
    padding: 100px 15px;
}

.offer-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    height: 105%;
    position: relative;
    padding: 25px 9px 20px 10px;
}

.offer-card .card-body {
    padding: 1.5rem;
}

.offer-card .card-title {
    color: #333;
    font-size: 25px !important;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.offer-card .card-text {
    color: #666;
    font-size: 0.9rem;
}

.offer-card .img-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.offer-card .img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 2;
}

.offer-card .hover-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    overflow: hidden;
}

.offer-card:hover .hover-circle {
    transform: translate(-50%, -50%) scale(1.14);
}

.offer-card .img-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.offer-card:hover .img-wrapper::before {
    opacity: 1;
}

/* clients section */
.clients-section {
    padding: 100px 30px;
    background-color: #f7f2e2 !important;
    font-family: "Poppins", sans-serif;
}

.clients-section {
    background-color: #f8f9fa;
    position: relative;
}

.client-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.client-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.client-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.client-review {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.client-rating {
    color: #ffc107;
}

.clients-slider {
    padding: 20px 0;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #000;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -10px;
}

.swiper-button-lock {
    background: transparent !important;
    border: 1px solid #8b8585;
    color: #8b8585;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary) !important;
}

.swiper-pagination-bullet {
    background-color: #ffc022c0 !important;
}

/* .hero-2-section */
.hero-2-section {
    margin-top: 6rem;
}

.content {
    padding: 80px 30px 55px 60px;
    position: relative;
    z-index: 3;
    opacity: 0;
    /* Initially hidden */
    transform: translateY(50px);
    /* Initially positioned below */
    animation: slideUp 1s ease-out forwards;
    /* Animate to final position */
}

.content h2 {
    color: #fff;
    font-family: "Norican", Sans-serif;
    font-size: 42px;
}

.content h1 {
    color: var(--primary);
    font-size: 90px;
    text-transform: capitalize;
    line-height: 90px;
    letter-spacing: -2.5px;
    z-index: 2;
    position: relative;
    line-height: 6rem;
}

.content p:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
}

.price {
    font-size: 30px;
    font-weight: 500;
    color: var(--primary);
    line-height: 5rem;
}

.wb-btn {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 24px;
    transition: all 0.5s ease;
}

.wb-btn:hover {
    background-color: #000;
    color: #fff;
}

.hero2-content-1 {
    background-color: var(--secondary);
    position: relative;
    opacity: 0;
    /* Initially hidden */
    transform: translateX(150px);
    /* Initially positioned off to the right */
    animation: slideInFromRight 1s ease-out forwards;
    /* Animate to final position */
}

.hero2-content-2,
.hero2-content-3 {
    opacity: 0;
    transform: translateX(150px);
    animation: slideInFromRight 1.5s ease-out forwards;
}

.hero2-content-1>.img-wrapper>.img-fluid,
.hero2-content-2>.img-wrapper>.img-fluid,
.hero2-content-3>.img-wrapper>.img-fluid {
    position: absolute;
    right: -16rem;
    top: 1rem;
    z-index: 3;
}

.hero2-content-2 {
    background-color: #db731e;
    z-index: 3;
}

.hero2-content-3 {
    background-color: #ffc900;
}

.h2h-b {
    background-image: url(../images/h2h-b.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -41px;
    left: 8rem;
    width: 400px;
    height: 400px;
    z-index: 1;
    /* Ensure it's behind the content */
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.hero2-col-lg-4 {
    position: relative;
    overflow: hidden;
    /* Ensure the hover effect is contained within the element */
}

.hero2-col-lg-4:hover .h2h-b {
    transform: scale(1.1);
}

/* General animation settings */
.hero-2-section {
    margin-top: 6rem;
}

.content {
    padding: 80px 30px 55px 60px;
    position: relative;
    z-index: 3;
    opacity: 0;
    /* Initially hidden */
    transform: translateY(100px);
    /* Positioned more towards the bottom */
    animation: slideUpMore 1s ease-out forwards;
    /* Slide up with more distance */
    animation-delay: 0.5s;
    /* Content animation will start after image */
}

.hero2-content-1,
.hero2-content-2,
.hero2-content-3 {
    opacity: 0;
    /* Initially hidden */
    transform: translateX(200px);
    /* Start far right */
    animation: slideInFromRight 1s ease-out forwards;
    /* Slide to original position */
}

.hero2-content-2 {
    animation-delay: 0.2s;
    /* Slight delay for staggered effect */
}

.hero2-content-3 {
    animation-delay: 0.4s;
    /* More delay for staggered effect */
}

.hero2-content-1>.img-wrapper>.img-fluid,
.hero2-content-2>.img-wrapper>.img-fluid,
.hero2-content-3>.img-wrapper>.img-fluid {
    position: absolute;
    right: -16rem;
    top: 1rem;
    z-index: 3;
    opacity: 0;
    /* Initially hidden */
    transform: translateX(200px);
    /* Start off-screen (to the right) */
    animation: slideInFromRight 1s ease-out forwards;
}

/* Animation for images coming in from the right */
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
        /* Start off to the right */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        /* Final position */
    }
}

/* Animation for content sliding up from lower */
@keyframes slideUpMore {
    0% {
        opacity: 0;
        transform: translateY(100px);
        /* Start from lower position */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Final position */
    }
}

/* blog-section */
.blog-section {
    margin-top: 6rem;
}

.blog-section>.container>.row>.col-md-4>.card>.card-body>small {
    font-size: 12px;
    cursor: pointer;
}

.blog-section>.container>.row>.col-md-4>.card>.card-body>small:hover {
    color: var(--primary_hover) !important;
}

.blog-section>.container>.row>.col-md-4>.card>.card-body>.card-title {
    font-weight: 600;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
}

.blog-section>.container>.row>.col-md-4>.card>.card-body>.card-title:hover {
    color: var(--primary_hover) !important;
}

.blog-section>.container>.row>.col-md-4>.card>.card-body>p {
    font-size: 13px;
    user-select: none;
}

.blog-section .card-body p {
    font-size: 14px;
    height: 60px;
    /* Set a fixed height */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
}

/* footer section */
.footer-section {
    padding: 4rem 0 0 0;
    color: #7c7b7b;
    top: 6rem;
    position: relative;
    background-color: #181818;
    background-image: url(../images/shape_dot.png);
    background-size: auto;
    background-position: initial;

}

.footer-section h5 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #fff;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons>a>i {
    color: #333;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 1rem;
}

.social-icons>a>i:hover {
    background-color: var(--primary);
    color: #333 !important;
}

.footer-section .form-control {
    border-radius: 0;
    border: 1px solid #ced4da;
}

.footer-section .btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 0;
    transition: background-color 0.5s ease;
    color: #000;
}

.footer-section .btn-primary:hover {
    background-color: var(--primary_hover);
    border-color: var(--primary_hover);
    color: #fff;
}

.footer-section .mt-4 {
    margin-top: 2rem !important;
}

input[type="email"]::placeholder {
    color: #fff;
}

.footer-section .container-fluid>p {
    text-align: center;
    margin-top: 2rem;
    font-size: 12px;
    color: #6c757d;
}

/* Products in home */
.myCard {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}

.card-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.card-img-wrapper::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    z-index: 1;
    transition: top 0.5s ease;
}

.card-img {
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
}

.card-img-wrapper:hover::before {
    top: 0;
}

.card-img-wrapper:hover .card-img {
    transform: scale(1.1);
}

.myCart {
    color: #000;
    background-color: var(--primary) !important;
    padding: 15px;
    border-radius: 12px !important;
    z-index: 2;
}

.myCart:hover {
    color: #fff;
    background-color: var(--primary_hover);
    border-radius: 12px !important;
}

.myCardText {
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.myCardText:hover {
    color: var(--primary);
}

.fa-star {
    color: var(--primary);
}

.favorite_icon {
    z-index: 3;
    position: absolute;
    right: 8px;
    color: gray;
    cursor: pointer;
    top: 5px;
}

.favorite_icon:hover {
    background-color: transparent !important;
}

/* other pages */

/* ## Shop ##*/
.op_hero_section {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    padding: 15vh 0 15vh 0;
}

.opht {
    font-size: 3rem;
    font-weight: 600;
}

.product-categories {
    background-color: #fbf7e8;
}

.cat-item {
    border-bottom: 0.5px solid rgb(223, 220, 220);
    padding: 10px 0 10px 8px;
}

input.afs.form-control {
    border: 2px solid var(--primary);
    border-radius: 2rem;
    padding: 12px 0 12px 15px;
}

.input-group {
    position: relative;
}

.input-group-append {
    position: absolute;
    right: 10px;
    /* Adjust as needed for spacing */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* Prevents clicks on the icon */
}

.input-group-append i {
    color: #999;
    /* Change color as needed */
}

.afs.form-control {
    border-top: 1px solid var(--primary);
    /* Top border */
    border-bottom: 1px solid var(--primary);
    /* Bottom border */
    border-right: none;
    /* Remove right border to avoid conflict with icon */
    padding-right: 30px;
    /* Add padding to the right for the icon */
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

input[type="range"] {
    /* Slider track */
    -webkit-appearance: none;
    /* Removes default styling on Webkit browsers */
    width: 80%;
    height: 8px;
    background: var(--primary);
    /* Track color gradient */
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

/* Thumb (draggable button) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    /* Thumb color */
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.filter_submit_btn {
    background-color: var(--primary);
    font-size: 12px;
    padding: 0.5em 1.5em;
}

.filter_submit_btn:hover {
    background-color: var(--primary_hover);
}

.product-categories .cat-item a {
    display: flex;
    justify-content: space-between;
    /* Space between category name and count */
    align-items: center;
    /* Center items vertically */
}

.category-name {
    flex-grow: 1;
    /* Allow the category name to take available space */
}

.count {
    margin-left: 10px;
    /* Optional: Add some space between name and count */
}

/* ## Products ## */
.product-image-container {
    position: relative;
    overflow: hidden;
}

#product-image {
    width: 100%;
    /* Adjust as needed */
    height: auto;
}

.magnifier {
    position: absolute;
    border: 3px solid #000;
    /* Border color of the magnifier */
    border-radius: 50%;
    cursor: none;
    /* Hide the default cursor */
    width: 100px;
    /* Size of the magnifier */
    height: 100px;
    /* Size of the magnifier */
    display: none;
    /* Hidden by default */
    pointer-events: none;
    /* Prevent mouse events on the magnifier */
    background-repeat: no-repeat;
    background-size: 200%;
    /* Adjust zoom level */
}

/* Add this to your existing CSS file */
.quantity {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity button {
    width: 30px;
    height: 30px;
}

.social-share a {
    margin-right: 10px;
}

.customer_reviews_trigger:hover {
    color: var(--primary) !important;
}

.quantity>button {
    border: none !important;
    z-index: 2;
}

.quantity>input {
    border: none !important;
}

.invers_btn:hover {
    color: #fff !important;
    background-color: var(--primary_hover) !important;
}

.fa-heart:hover {
    color: var(--primary_hover);
    transition: color 0.5s ease;
}

.cat_name_p:hover {
    color: var(--primary) !important;
    text-decoration: underline;
    transition: color 0.2s ease;
}

.drb {
    background-color: var(--primary);
    transition: color 0.3s ease;
    border: none !important;
    font-weight: 700;
    font-size: 1rem;
    /* Adjusted font size */
    padding: 0.4em 1em;
    /* Adjusted padding */
    max-width: 150px;
    /* Set a maximum width */
    overflow: hidden;
    /* Prevent overflow */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow text */
    white-space: nowrap;
    /* Prevent text wrapping */
    height: 55px;
}

.drb:hover {
    background-color: var(--primary_hover);
}

.social-share>a>i:hover {
    color: var(--primary_hover);
}

.drb_active {
    background-color: transparent !important;
}

.customer_review {
    margin-top: 20px;
    /* Space above the review section */
}

.review {
    border-bottom: 1px solid #ddd;
    /* Separator between reviews */
    padding: 10px 0;
    /* Space around each review */
}

.review p {
    margin: 5px 0;
    /* Space between paragraphs */
}

.review strong {
    font-weight: bold;
    /* Bold for the rating */
}

.review span {
    font-size: 0.9rem;
    /* Smaller font for the date */
    color: #888;
    /* Lighter color for the date */
}

.form-group {
    margin-bottom: 15px;
    /* Space between form fields */
}

.profile-img {
    width: 50px;
    /* Set a fixed width */
    height: 50px;
    /* Set a fixed height */
    border-radius: 50%;
    /* Make the image circular */
}

.star-rating {
    display: flex;
    /* Align stars in a row */
    cursor: pointer;
    /* Change cursor to pointer */
}

.star-rating .fa-star {
    pad: 3px;
    color: #ccc;
    /* Muted color for unselected stars */
    transition: color 0.2s;
    /* Smooth transition for color change */
}

.star-rating .fa-star.selected {
    color: gold;
    /* Color for selected stars */
}


.zoom-area {
    /* margin: 50px auto; */
    position: relative;
    /* cursor: none */
}

.form-control:focus {
    border: 0.5px solid var(--primary);
    outline: none !important;
    box-shadow: none;
}

@media (max-width: 991px) {
    .zoom-area {
        left: -100px;
    }
}

@media (max-width: 767px) {
    .zoom-area {
        left: 0px;
    }
}

/* for create magnify glass */
.large {
    width: 175px;
    height: 175px;
    position: absolute;
    border-radius: 100%;

    /* for box shadow for glass effect */
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
        0 0 7px 7px rgba(0, 0, 0, 0.25),
        inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

    /*for hide the glass by default*/
    display: none;
}

/* ## Cart Slider ## */
/* Custom styles for the cart offcanvas */
.offcanvas {
    width: 300px;
    /* Set your desired width */
}

/* Change close button icon on hover */
.btn-close {
    position: relative;
    font-size: 24px;
    /* Adjust size if necessary */
    transition: color 0.3s ease;
}

#cart-subtotal {
    position: absolute;
    right: 20px;
}

.btn.invers_btn.d-block {
    background-color: var(--primary);
    padding: .875em 2.5em;
    border: none;
    border-radius: 8px;
}

.outline_btn {
    padding: .875em 2.5em;
    background-color: transparent;
    color: #000;
    border-color: #000;
    border-radius: 8px;
}

.outline_btn:hover {
    border-color: var(--primary);
    color: var(--primary);
}

.cart-items>.items>img {
    width: 80px !important;
    height: 80px !important;
}

.loader {
    color: var(--primary);
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

.loader-bg {
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    position: fixed;
    /* Fixed position */
    top: 0;
    /* Cover the top */
    left: 0;
    /* Cover the left */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    z-index: 9999;
    /* High z-index to overlay other elements */
    display: none;
    /* Initially hidden */
    cursor: wait;
    /* Change cursor to indicate loading */
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
.hoverText:hover{
    color: var(--primary);
}
.items.d-flex.align-items-center.border-bottom.ms-3.me-3.fw-light{
    padding-bottom: 7px;
    position: relative;
    top: -10px; 
}

.fa-circle-xmark {
    cursor: pointer;
    color: rgb(223, 39, 39);
}

.fa-circle-xmark:hover {
    color: #d94a4a;
}
#Dribbble-Light-Preview{
    fill: #999999;
}
#tableImg{
    width: 90px !important;
}