*{
  box-sizing: border-box;
}
:root {
  --body-background: #20304c;
  --first-color: #0c1a32;
  --first-color-light: #AFA5D9;
  --white-color: #b5b5c3;
  --body-font: 'Nunito', sans-serif;
  --box-body: #0c1a33;
}
body{
  background-color: #20304c !important;
  color: #b5b5c3 !important;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #b5b5c3 !important;
}
a{
  text-decoration: none !important;
}
.home-section{
  background-color: #20304c;
  color: #b3b3b3 !important;
}
.box-body{
  background-color: var(--box-body) !important;
}